<%inherit file="base.htm" />


<%block name="content">
	<div id="notification_alert" class="alert alert-success" role="alert"> </div>

	<h2>Change Password For: ${request.user.get_full_name()}</h2>
	<span id="message_center"> </span> <br>
	<span id="message_center1"> </span>
	<form class="edit_table" method="POST">
		<table>
			${ form }
		</table>
		<hr>
			<button id="submit_button" class="btn btn-success" type="submit">Submit</button>
			<a class="btn btn-default" href="/homepage/accounts/">Cancel</a>
	</form>
</%block>

<%block name="jumbotron">
</%block>

<%block name="content_left">
</%block>

<%block name="content_center">
</%block>

<%block name="content_right">
</%block>