<%inherit file="base.htm"/>

<!--nothing to import-->

<%block name="content">
		<!--create the table-->
    <div class = "text-left">
      <h2>Manage Areas</h2>
    </div>
    <div class = "text-right">
      <a href ="/homepage/areas.create/" class= "btn btn-success">Create New Area</a>
    </div>
		<table id="manage_table" class = "table table-striped table-bordered">
		    <tr>
		      <th>ID</th>
		      <th>Area Name</th>
		      <th>Description</th>
          <th>Place Number</th>
		      <th>Actions</th>
		    </tr>
				%for area in areas:
					<tr>
            <td> ${ area.id }</td>
            <td> ${ area.name } </td>
						<td> ${ area.description } </td>
						<td> ${ area.place_number } </td>
						<td width="1%" nowrap>
							<a class="label label-info" href="/homepage/areas.edit/${ area.id }/">Edit</a>
						</td>
					</tr>
				%endfor
		</table>
</%block>

<%block name="jumbotron">
</%block>

<%block name="content_left">
</%block>

<%block name="content_center">
</%block>

<%block name="content_right">
</%block>
