<%inherit file="base.htm" />

<%block name="content">
	<h2>Enter Checkout Information</h2>
	<form>
		Credit Card Number<br>
		<input type="text" name="Credit Card">
		<br>
		Street Address<br>
		<input type="text" name="Address">
		<br>
		City<br>
		<input type="text" name="City">
		<br>
		State<br>
		<input type="text" name="State">
		<br>
		ZIP<br>
		<input type="text" name="Zip">
		<br>
	</form>
	<h4>
		Total Amount: $${ amount }
	</h4>
	<a class="btn btn-success" href="/homepage/receipt">Complete Purchase</a>
	<a class="btn btn-default" href="/homepage/productlist">Cancel</a>
</%block>

<%block name="jumbotron">
</%block>

<%block name="content_left">
</%block>

<%block name="content_center">
</%block>

<%block name="content_right">
</%block>