<%inherit file="base.htm" />

<%block name="jumbotron">
</%block>

<%block name="content">
	<h2> Upcoming Events </h2>
	<a href="/homepage/events">
    	<img src="${ STATIC_URL}homepage/media/event_images/event1.jpg" width = 365 height = 250>
    </a>
    <a href="/homepage/events">
    	<img src="${ STATIC_URL}homepage/media/event_images/event2.jpg" width = 365 height = 250>
    </a>
    <a href="/homepage/events">
    	<img src="${ STATIC_URL}homepage/media/event_images/event3.jpg" width = 365 height = 250>
    </a>
</%block>

<%block name="content_left">
</%block>

<%block name="content_center">
</%block>

<%block name="content_right">
</%block>