<%inherit file="base.htm"/>

<!--nothing to import-->

<%block name="content">
  <div class = "text-left">
    <h2>Whoa there Pardner!</h2>
  </div>
  <h4>You need to login to continue.</h4>
  <p>
    Click "My Account" in the top right corner to login or sign up!
  </p>
  <div align="center">
    <img height="200" src="${ STATIC_URL }homepage/media/cowboy.gif">
  </div>
</%block>

<%block name="jumbotron">
</%block>

<%block name="content_left">
</%block>

<%block name="content_center">
</%block>

<%block name="content_right">
</%block>
