<%inherit file="base.htm"/>

<!--nothing to import-->

<%block name="content">
	<div class="text-left">
		<h2>Nielson's Grove - Orem</h2>
		<h3>2000 Sandhill Rd, Orem, UT 84058</h3>
		<h4>Event Dates: June 4-7</h4>
		<h4>Areas</h4>
		<ul>
			<li>Bakery</li>
			<li>Printing Press</li>
			<li>Blacksmith</li>
			<li>Candle Maker</li>
			<li>Guest Services</li>
		</ul>
	</div>
	</div>
</%block>

<%block name="jumbotron">
</%block>

<%block name="content_left">
</%block>

<%block name="content_center">
</%block>

<%block name="content_right">
</%block>
