<%inherit file="base.htm"/>

<!--nothing to import-->

<%block name="content">
		<!--create the table-->
    <div class = "text-left">
      <h2>Manage Orders</h2>
    </div>
    <div class = "text-right">
      <a href ="/homepage/orders.create/" class= "btn btn-success">Create New Order</a>
    </div>
		<table id="manage_table" class = "table table-striped table-bordered">
		    <tr>
		      <th>ID</th>
		      <th>Order Date</th>
		      <th>Phone</th>
          <th>Tracking Number</th>
		      <th>Actions</th>
		    </tr>
				%for order in orders:
					<tr>
            <td> ${ order.id }</td>
            <td> ${ order.order_date } </td>
						<td> ${ order.order_phone } </td>
            <td> ${ order.tracking_number } </td>
						<td width="1%" nowrap>
							<a class="label label-info" href="/homepage/orders.edit/${ order.id }/">Edit</a>
						</td>
					</tr>
				%endfor
		</table>
</%block>

<%block name="jumbotron">
</%block>

<%block name="content_left">
</%block>

<%block name="content_center">
</%block>

<%block name="content_right">
</%block>
