<%inherit file="base.htm"/>

<!--nothing to import-->

<%block name="content">
    <div class = "text-left">
      <h2>Overdue Rentals</h2>
    </div>
	<table id="overdue_table" class = "table table-striped table-bordered">
		<th scope="col" colspan="2"><div align="center"><30 Days </div></th>
		    <tr>
		      <th>Name</th>
		      <th>Due Date</th>
		    </tr>
			%for overdue in overdues:
			<tr>
	            <td> ${ overdue[0] }</td>
				<td> ${ overdue[5] } </td>
			</tr>
		%endfor
	</table>

	<table id="overdue_table" class = "table table-striped table-bordered">
		<th scope="col" colspan="2"><div align="center"> 30-59 Days </div></th>
		    <tr>
		      <th>Name</th>
		      <th>Due Date</th>
		    </tr>
			%for overdue in overdues:
			<tr>
	            <td> ${ overdue[0] }</td>
				<td> ${ overdue[5] } </td>
			</tr>
		%endfor
	</table>

	<table id="overdue_table" class = "table table-striped table-bordered">
		<th scope="col" colspan="2"><div align="center">60-89 Days </div></th>
		    <tr>
		      <th>Name</th>
		      <th>Due Date</th>
		    </tr>
			%for overdue in overdues:
			<tr>
	            <td> ${ overdue[0] }</td>
				<td> ${ overdue[5] } </td>
			</tr>
		%endfor
	</table>

	<table id="overdue_table" class = "table table-striped table-bordered">
		<th scope="col" colspan="2"><div align="center">90+ Days </div></th>
		    <tr>
		      <th>Name</th>
		      <th>Due Date</th>
		    </tr>
			%for overdue in overdues:
			<tr>
	            <td> ${ overdue[0] }</td>
				<td> ${ overdue[5] } </td>
			</tr>
		%endfor
	</table>
</%block>

<%block name="jumbotron">
</%block>

<%block name="content_left">
</%block>

<%block name="content_center">
</%block>

<%block name="content_right">
</%block>

