<%inherit file="base.htm"/>

<!--nothing to import-->

<%block name="content">
		<!--create the table-->
    <div class = "text-left">
      <h2>Manage Products</h2>
    </div>
    <div class = "text-right">
      <a href ="/homepage/products.create/" class= "btn btn-success">Create New Product</a>
    </div>
		<table id="manage_table" class = "table table-striped table-bordered">
		    <tr>
		      <th>ID</th>
		      <th>Category</th>
		      <th>Current Price</th>
          <th>Producer Name</th>
		      <th>Actions</th>
		    </tr>
				%for product in products:
					<tr>
            <td> ${ product.id }</td>
            <td> ${ product.category } </td>
						<td> ${ product.current_price } </td>
            <td> ${ product.producer_name } </td>
						<td width="1%" nowrap>
							<a class="label label-info" href="/homepage/products.edit/${ product.id }/">Edit</a>
						</td>
					</tr>
				%endfor
		</table>
</%block>

<%block name="jumbotron">
</%block>

<%block name="content_left">
</%block>

<%block name="content_center">
</%block>

<%block name="content_right">
</%block>
