<%inherit file="base.htm"/>

<!--nothing to import-->

<%block name="content">
		<!--create the table-->
    <div class = "text-left">
      <h2>Manage Rentals</h2>
    </div>
    <div class = "text-right">
      <a href ="/homepage/rentals.create/" class= "btn btn-success">Create New Rental</a>
    </div>
		<table id="manage_table" class = "table table-striped table-bordered">
		    <tr>
		      <th>ID</th>
		      <th>Rental Time</th>
		      <th>Rental Date</th>
          <th>Discount Percent</th>
		      <th>Actions</th>
		    </tr>
				%for rental in rentals:
					<tr>
            <td> ${ rental.id }</td>
            <td> ${ rental.rental_time } </td>
						<td> ${ rental.due_date } </td>
            <td> ${ rental.discount_percent } </td>
						<td width="1%" nowrap>
							<a class="label label-info" href="/homepage/rentals.edit/${ rental.id }/">Edit</a>
						</td>
					</tr>
				%endfor
		</table>
</%block>

<%block name="jumbotron">
</%block>

<%block name="content_left">
</%block>

<%block name="content_center">
</%block>

<%block name="content_right">
</%block>
