<%inherit file="base.htm"/>

<!--nothing to import-->

<%block name="content">
	<div class="text-left">
		<h2>SCERA Park - Orem</h2>
		<h3>600 S State St. Orem, UT</h3>

		<h4>Event Dates: June 4-7</h4>
		<h4>Areas</h4>
		<ul>
			<li>Bakery</li>
			<li>Mayflower Exhibit</li>
			<li>Blacksmith</li>
			<li>Guest Services</li>
		</ul>
	</div>
	</div>
</%block>

<%block name="jumbotron">
</%block>

<%block name="content_left">
</%block>

<%block name="content_center">
</%block>

<%block name="content_right">
</%block>
